@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "nunito", "sanserif";
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
}

body header {
  width: 80%;
  flex-basis: 10%;
}

body header ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

body header ul li {
  width: 15%;
}

body main {
  width: 80%;
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

body main h1 {
  padding: 20px;
}

body main table {
  width: 100%;
  height: 100%;
}

body main table tr {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

body main table .id {
  width: 2%;
}

body main table .title {
  width: 10%;
  padding: 10px;
}

body main table .body {
  width: 55%;
  padding: 10px;
}

body main table .created {
  width: 15%;
  padding: 10px;
}

body main table .action {
  width: 18%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

body main table .action button {
  padding: 8px;
}

body main form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

body main form label {
  margin: 20px;
  font-size: 2rem;
}

body main form #input_title {
  width: 30%;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 20px;
}

body main form #input_body {
  width: 80%;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 20px;
}

body main #create_btn {
  padding: 10px;
}

